body{
	overflow:hidden;
}
.action_panel{
	height: 82%;
	width: 25%;
	background-color: black;
	position: absolute;
	top: 10%;
}

.footer{
	width: 100%;
	height: 8%;
	position: absolute;
	background-color: gray;
	bottom: 0%;	
}

.content{
	height: 82%;
	width: 75%;
	background-color: green;
	position: absolute;
	margin-left: 25%;
	top: 10%;
}
.buttons{
	width: 90%;
	background-color: aqua;
	height: 10%;
	float: left;
	margin-left: 3%;
	margin-top: 10%;
	cursor: pointer;
}
.buttons h1{
	text-align: center;
}
.title_action{
	height: 10%;
	background-color: red;
	width: 100%;
	position: absolute;
	top: 0%;
}

.options{
	position: relative;
	width: 100%;
	height: 8%;
	background-color: yellow;	
}

.button_options{
	float: left;
	width: 18%;
	height: 100%;
	background: blue;
	margin-left: 8%;		
	cursor: pointer;
	text-align: center;
}
.form_search{
	position: relative;
	margin-top: 10%;
	margin-left: 20%;
}
